# Database & Redis Settings
DATABASE_URL=postgresql://postgres.your-supabase-project-id:your-password@aws-0-us-east-1.pooler.supabase.com:6543/postgres
REDIS_URL=redis://localhost:6379/0

# Security (JWT Auth)
JWT_SECRET=generate-a-secure-random-key-here
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=11520

# AI Provider Settings
OPENAI_API_KEY=your-openai-api-key

# Voice & Telephony APIs
API Key = 110955563e9a77913d19ead8844745f15a4c5d3dc248ffe3
Auth Token = 741149e0d3ac086da6799d7367c12a7379c6b770bdef45c6
Account SID = omnexaai1


#DEEPGRAM
DEEPGRAM_API_KEY=your-deepgram-api-key
#ELEVENLABS
ELEVENLABS_API_KEY=your-elevenlabs-api-key

# Server settings
HOST=0.0.0.0
PORT=8000
